.border {
  border-width: 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #e1e1e8;
}

.progress-wrapper {
  width: 100%;
  height: 40px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  span{
    position: absolute;
    top: 15px;
    left: 50%;
  }
}

.progressbar {
  background-color: #337ab7;
  width: 0%;
  height: 100%;;
}

.offset-10 {
  padding: 0 10px;
}

.progress-bar-container {
  width: 568px;
  display: block;
  margin: 15px auto;

  .progress-bar-selection {
    border: 1px solid #eee;
    float: left;
    width: 100%;
    padding: 10px;
  }
}
.buttons-group{
  margin: 15px 0 ;
}